*{
    margin: 0%;
    padding: 2%;
box-sizing: border-box;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow:2px;
   
    margin: auto;
    margin-top: 50px;
    max-width:  650px; ;
}
#Red{
    height: 5rem;
    width: 10%;
    background-color: red;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid black;
}
#yellow{
    height: 5rem;
    width: 10%;
    background-color: yellow;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid black;
}
#grey{
    height: 5rem;
    width: 10%;
    background-color: gray;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid black;
}
#blueviolet{
    height: 5rem;
    width: 10%;
    background-color:blueviolet;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid black;
} 
#green{
    height: 5rem;
    width: 10%;
    background-color:green;
    color: aliceblue;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    margin-top: 0%;
    text-align: center;
   
    align-items: center;
 font-size: 40px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
}